= simple_form_for(:coupon, url: coupons_path, method: :post) do |f|
  .input-group.general-input-group
    = f.input :code, placeholder: 'Enter Your Coupon Code', input_html: { class: 'mb-30' },
        label_html: { class: 'input-label' }, label: 'Enter Your Coupon Code'
    %div
      = f.button :submit, class: 'btn-primary mr-5 mb-15', value: 'Apply Coupon'