.item{ class: ( active ? 'active' : '' ) }
  .row
    .col-sm-5
      .general-img-wrap
        %img.img-shadow.general-thumbnail-img{src: "http://jonathantweedy.com/resources/thumbs/SmashingBook5ResponsiveWebDesign.jpg", alt: "design-book"}
    .col-sm-7
      .mb-60
        %h1 Real-Life Responsive Web Design
        %p.lead Smart front-end techniques and design patterns derived from real-life responsive projects
        %p.lead.small Vitaly Friedman, Daniel Mall,Vitaly Friedman
        .general-align
          %button.btn.btn-primary Buy Now