- if can? :create, Review
  .general-message-wrap.divider-lg
    .clearfix
      = simple_form_for :review, url: book_reviews_path(@book.id), validate: true do |f|
        .row
          .col-lg-12
            .star-rating
              %i.fa.fa-star.rate-star{"data-rating" => "1"}
              %i.fa.fa-star.rate-star{"data-rating" => "2"}
              %i.fa.fa-star.rate-star{"data-rating" => "3"}
              %i.fa.fa-star.rate-star{"data-rating" => "4"}
              %i.fa.fa-star.rate-star{"data-rating" => "5"}
              %input.rating-value{:name => "rating", :type => "hidden", :value => "4"}
        %br      
        .form-inputs
          = f.input :description, label: t('books.add_review'), required: true
        .form-actions
          = f.button :submit, t('books.send_btn'), class:'btn btn-default center-block mb-20'